@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Open-Sans', sans-serif;
}

ul, li, a {
  text-decoration: none;
  color: #FEFFFF;
}

h1, h2, p{
  color: #FEFFFF;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: rgba(23,37,42, 0.8);
  width: 100%;
  position: fixed;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

header li {
  display: inline-flex;
  vertical-align: middle;
}

header img {
  height: 50px;
}

.header-left li {
  color: #FEFFFF;
  padding: 0 16px;
}

.header-left {
  align-items: center;
}

.header-left a {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
}

.header-left a:hover {
  border-bottom: 1px solid #FEFFFF;
}

.header-left a.active {
  border-bottom: 3px solid #FEFFFF;
}

.header-right li {
  font-size: 24px;
  padding: 0 10px;
  line-height: 50px;
}

.top-wrapper {
  background-image: linear-gradient(rgba(23,37,42,0.7),rgba(23,37,42,0.7)), url('https://i.ibb.co/vXBS03s/Hero-Image-Taufik-ADP-HD.png');
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}

.top-wrapper h1 {
  font-size: 72px;
  text-align: center;
  font-weight: bold;
}

.top-wrapper p {
  opacity: 0.8;
  font-size: 16px;
  text-align: center;
  position: absolute;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #2B7A78;
}

.about h1, p {
  color: #FEFFFF;
}

.about h1 {
  font-size: 48px;
}

.about p {
  font-size: 20px;
  line-height: 1.6;
}

.about-left {
  padding: 50px 80px;
}

.about-img {
  height: 700px;
  margin-left: 50px;
}

.project-wrapper {
  text-align: center;
  padding: 10px 0;
  background-image: linear-gradient(rgba(23,37,42, 0.9),rgba(23,37,42, 0.9)), url(https://i.ibb.co/CnXyttx/BG-Project-Taufik2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.project {
  display:inline-block;
  border: 2px solid #FEFFFF;;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 30px;
  margin: 20px 300px;
}

.project-heading {
  margin: 0;
  font-size: 28px;
}

.project-img img{
  border: 2px solid #FEFFFF;
  border-radius: 4px;
  padding: 5px;
  height: 200px;
}

.project button {
  cursor: pointer;
}

.text-project {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #FEFFFF;;
  
}

.project p {
  line-height: 1.6;
}

.text-desc {
  font-weight: normal;
}

button {
  background-color: #3AAFA9; 
  border: none;
  outline: none;
  color: #FEFFFF;
  padding: 8px 32px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.1s;
  box-shadow: 0 9px #DEF2F1;
}

button:hover {
  background-color: #2B7A78; 
  color: #FEFFFF;
}

button:active {
  background-color: #2B7A78;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer {
  background-color: #17252A;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

.footer-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px 0;
}


footer li {
  display: inline-flex;
  vertical-align: middle;
}

footer p {
  color: #FEFFFF;
}

.footer-img {
  height: 40px;
}

footer .fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
}

.btm {
  background: #696969;
  color: #FEFFFF;
  transition-duration: 0.5s;
}

.ig-btm:hover {
  background: #125688;
}

.mail-btm:hover {
  background: #282828;
}

.li-btm:hover {
  background: #007bb5;
}

small {
  color: #FEFFFF;
}
